@import '../../theme/colors.scss';
@import '../../theme/layout.scss';
@import '../../theme/typo.scss';

.container {
    padding: $grid-tiny;
}

.button {
    margin: $grid-tiny;
    min-width: 80px;
    font-size: $font-standard;
    letter-spacing: 0.5px;
    box-shadow: $box-shadow-bottom;
    padding: $grid-small;
}

.standardButton {
    background-color: $white-color;
    color: black;
    border-radius: 20px; 
    border: 1px solid darkslategrey;
}

.alertButton {
    background-color: $alert-color;
    color: $white-color;
}

