@import '../../theme/colors.scss';
@import '../../theme/typo.scss';
@import '../../theme/layout.scss';

.container {
    height: 4*$grid-large;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    color: $white-color;
    font-size: $font-large;
}