$primary-color: #0068cf;
$secondary-color: #810000;
$tertiary-color: #263544;

$black-color: #202020;
$grey-color: #525252;
$white-color: #ffffff;
$green-color: #00801c;
$alert-color: #990000;
$warn-color: #ffa500;

$box-shadow-standard: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$box-shadow-bottom: 0px 4px 4px rgba(0, 0, 0, 0.25);
