@import '../../theme/colors.scss';
@import '../../theme/typo.scss';
@import '../../theme/layout.scss';

.paginationLink {
    display: flex;
    justify-content: center;
}

.helper {
    color: $grey-color;
    font-size: $font-small;
    margin: $grid-small 0px;
}