@import '../../theme/colors.scss';
@import '../../theme/layout.scss';
@import '../../theme/typo.scss';

.container {
    max-height: 400px;
    display: flex;
    margin: $grid-medium 0px;
}

.imageContainer {
    // width: 30%;
}

.image {
    max-width: 200px;
    max-height: 200px;
}

.infoContainer {
    margin: 0px $grid-tiny;
}

.title {
    margin: 0px $grid-tiny; 
    font-size: $font-standard;
}

.publishedDate {
    margin: $grid-tiny; 
}

.source {
    margin: $grid-tiny; 
    color: $green-color;
}

.content {
    margin: $grid-tiny; 
    font-size: 14px;
}

.subtitle {
    margin-bottom: $grid-tiny;
    font-size: 14px;
}

.date {
    color: $grey-color;
}