@import '../../theme/colors.scss';
@import '../../theme/layout.scss';
@import '../../theme/typo.scss';

.formContainer {
    margin: $grid-large 0px;
}

.searchRow {
    justify-content: center;
    margin: $grid-medium 0px;
}

.checkbox {
    margin: 0px $grid-medium 0px 0px;
}

.advancedSearch {
    text-align: right;
}