@import '../../theme/layout.scss';
@import '../../theme/colors.scss';

.pill {
    background-color: grey;
    padding: 5px;
    border-radius: 20px;
    color: white;
    margin-left: $grid-tiny;
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-color;
}

.navLink:hover {
    color: $black-color;
}