@import '../../theme/colors.scss';
@import '../../theme/layout.scss';
@import '../../theme/typo.scss';

.formContainer {
    margin: $grid-large 0px;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton {
    padding: $grid-small $grid-medium;
    height: 48px;
}

.searchTextbox {
    height: 32px;
    width: 250px;
    padding: $grid-small;
    font-size: $font-large;
}

.tabsContainer {
    justify-content: center;
    margin-bottom: $grid-large;
}